<div class="flex flex-col justify-center items-center px-20 h-80">
  <h1 class="text-3xl font-bold">Welcome to Blog App with Angular and .NET</h1>
  <p class="w-6/12">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est iusto
    laudantium accusamus, quis temporibus ducimus officiis voluptas, tenetur, ut
    iure dicta repellendus accusantium nemo ipsam sit sapiente repellat sunt
    cupiditate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
    vero sint facilis enim dignissimos in quo iusto consequuntur amet ab nostrum
    numquam commodi ullam quia, doloremque eligendi ducimus ex iste!
  </p>
</div>
<div class="flex flex-col items-center px-20 mb-10">
  <h2 class="text-xl font-bold">Featured blogs</h2>
  <div class="flex flex-wrap gap-4">
    @for (blog of featuredBlogs; track $index) {
    <div class="w-3/12">
      <app-blog-card [blog]="blog"></app-blog-card>
    </div>
  }
  </div>
</div>
